.gallery_box {
    display: block;
    padding: 0 30px;
    text-align: left;
}

.gallery_box h1 {
    text-transform: uppercase;
}

.gallery_box_line {
    height: 1px;
    width: 80%;
    background-color: #a0aec0;
    margin-bottom: 15px;
}

.view {
    width: 500px;
}

.view p {
    color: whitesmoke;
}

.view-after p {
    position: absolute;
    top: 5px;
    left: 10px;
}

.view-before p {
    position: absolute;
    top: 5px;
    right: 110px;
}

.gallery_box_item_ba_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sl-container {
    text-align: left;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 420px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.sl-container .view {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.sl-container .view img {
    width: 500px;
    max-width: 500px;
    height: 450px;
}
.sl-container .view-before {
    z-index: 100;
}
.sl-container .view-after {
    width: 100px;
    z-index: 200;
}
.sl-container .dragme {
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0px;
    left: 50%;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 300;
    text-align: center;
}
.sl-container .dr-circle {
    position: absolute;
    top: 50%;
    left: -8px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 300;
}
.sl-container .dr-circle i {
    line-height: 40px;
    font-size: 20px;
    color: #337AB7;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .sl-container {
        width: 320px;
        height: 210px;
    }
    .sl-container .view img {
        width: 320px;
        max-width: 320px;
    }
}

/* NEXT SLIDER */

.mass_slider {
    width:400px;
}

.mass_slider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.mass_slider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.mass_slider img {
    display: block;
    height: auto;
    max-width: 100%;
}
