.header {
    width: 100%;
    background: #000;
}

.main-bg {
    width: 100%;
    opacity: 0.9;
    z-index: 0;
    height: 900px !important;
    margin-top: -100px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: #F5F5F3;
}

.site-navbar {
    margin: auto 70px;
}

.header_social {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #F5F5F3;
    z-index: 10;
    border-bottom: 1px solid dimgrey;
    padding-right: 20px;
}

.header_socials {
    margin-left: 10px;
}
