.header {
    width: 100%;
    background: #000;
}

.main-bg {
    width: 100%;
    opacity: 0.9;
    z-index: 0;
    height: 750px !important;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    width: 100%;
    background-color: #F5F5F3;
}

.site-navbar {
    margin: auto 70px;
}

.header_social {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    background-color: #F5F5F3;
    z-index: 10;
    padding: 10px 70px 0 20px;
}

.header_social_phone {
    margin-left: 20px;
}