.main-view {
    background-image: url('../kitch1.jpeg');
    width: 100%;
    height: 750px
}

.main-info {
    position: absolute;
    top: 200px;
    left: 50px;
    margin: 20px;
    width: 440px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 35px;
}

.main-info p {
    color: #3B454E;
    font-weight: bold;
    font-size: 40px;
}

.main-info button {
    margin-top: 35px;
}

.services-preview {
    display: flex;
    flex-direction: column;
}

.services-preview h3 {
    text-align: center;
    margin: 20px;
}

.services-list {
    display: flex;
    flex-direction: column;
}

.services-list-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.service-item {
    width: 250px;
    min-width: 250px;
    height: 300px;
    border: 1px solid darkgrey;
    border-radius: 10px;
}

.service-item:hover {
    box-shadow: 2px 2px 10px rgba(59, 69, 78, 0.6);
    font-weight: bold;
}

.service-logo {
    width: 100%;
    height: 75%;
    background-size: cover;
    border-radius: 10px;
}

.refinishing {
    background-image: url("../images/services-preview/refinishing.JPG");
}

.redooring {
    background-image: url("../images/services-preview/redooring.jpg");
}

.installation {
    background-image: url("../images/services-preview/installation.jpg");
}

.custom-finishes {
    background-image: url("../images/services-preview/custom-finishes.jpg");
}

.more-updates {
    background-image: url("../images/services-preview/more-updates.jpg");
}

.service-name {
    height: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    letter-spacing: 2px;
}

.service-name h4 {
    color: black;
}
