h1 {
    margin: 30px 0 !important;
    letter-spacing: 3px !important;
    color: #3B454E !important;
}

.main-view {
    width: 100%;
    height: 750px
}

.main-info {
    position: absolute;
    top: 25%;
    left: 50px;
    margin: 20px;
    width: 440px;
    height: 480px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 25px;
}

.main-info p {
    color: #3B454E;
    font-weight: bold;
    font-size: 40px;
}

#quote_block input {
    height: 40px;
}

#quote_block input, #quote_block textarea {
    border: 2px solid #3B454E;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    resize: none;
    background-color: transparent;
}

#quote_form {
    display: flex;
    flex-direction: column;
}

#send_quote {
    width: 30%;
    margin-top: -15px;
    background-color: #3B454E !important;
    color: white;
}

.google-map-container {
    width: 100%;
    text-align: center;
}

.google-map {
    width: 100% !important;
}