.services-preview {
    display: block;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(192, 244, 221, 0.3);
    transform: rotate(-1deg);
}

.services {
    transform: rotate(1deg);
}