.services-preview {
    display: block;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(238, 238, 238, 0.5);
    transform: rotate(-1deg);
}

.services {
    transform: rotate(1deg);
}