.services-preview {
    display: block;
    text-align: center;
    padding: 20px;
}

.services-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #C4A484;
    width: 30%;
    height: auto;
    margin: 20px;
}

.service-item h2 {
    color: #3B454E;
    font-size: 24px;
}

.service-item p {
    color: black;
}

/*.service-item img {*/
/*    width: 250px;*/
/*    height: 250px;*/
/*}*/

.service-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service-item a {
    color: saddlebrown;
    font-size: 20px;
    text-align: right;
    margin: 0 15px 10px 0;
    transition: 150ms;
}

.service-item a:hover {
    font-weight: bold;
}

.h2_line {
    height: 2px;
    width: 70%;
    background-color: saddlebrown;
    margin: 0 0 10px 40px;
}

#services-hidden {
    display: none;
}

#show-hidden-services {
    border: none;
    background: none;
    font-size: 24px;
    transition: font-weight ease 150ms;
}

#show-hidden-services:hover{
    font-weight: bold;
}