.view {
    width: 600px;
}

.view p {
    color: whitesmoke;
}

.view-after p {
    position: absolute;
    top: 5px;
    left: 10px;
}

.view-before p {
    position: absolute;
    top: 5px;
    right: 10px;
}

.gallery_box_item_ba_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sl-container {
    text-align: left;
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 350px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.sl-container .view {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.sl-container .view img {
    width: 600px;
    max-width: 600px;
    height: 350px;
}
.sl-container .view-before {
    z-index: 100;
}
.sl-container .view-after {
    width: 100px;
    z-index: 200;
}
.sl-container .dragme {
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0px;
    left: 50%;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 300;
    text-align: center;
}
.sl-container .dr-circle {
    position: absolute;
    top: 50%;
    left: -8px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 300;
}
.sl-container .dr-circle i {
    line-height: 40px;
    font-size: 20px;
    color: #337AB7;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    .sl-container {
        width: 320px;
        height: 210px;
    }
    .sl-container .view img {
        width: 320px;
        max-width: 320px;
    }
}

.service_item_picture {
    background-size: 100% 100%;
}

.switch_img {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    width: 150px;
    height: 30px;
    transition: height 300ms ease;
    border-radius: 0 0 5px 5px;
}

.switch_img:hover {
    height: 40px;
    p {
        padding-top: 7px;
    }
    cursor: pointer;
}

.switch_img p {
    color: whitesmoke;
    padding-top: 3px;
}