.user-check-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 20px;
}

.user-check-board table td, table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

tbody td {
    font-weight: 500;
    color: #999999;
}

.user-check-board .bi-check-lg {
    color: forestgreen;
}

.user-check-board .bi-x-lg {
    color: darkred;
}

.user-check-board tr {
    text-align: center;
}

