.user-check-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 30px;
}

.user-test-title h3 {
    padding: 30px 0;
}

.user-check-board table td, table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.user-check-board table tr:nth-of-type(odd) {
    background-color: rgb(0, 135, 177, 0.1);
}

.fa-check, .fa-check-double {
    color: green !important;
}

tbody td {
    font-weight: 500;
    color: #999999;
}

.user-check-board .bi-check-lg {
    color: forestgreen;
}

.user-check-board .bi-x-lg {
    color: darkred;
}

.user-check-board tr {
    text-align: center;
}

